#HOST
DOMAIN = localhost
PORT = 1999

# POSTGRESQL
POSTGRES_HOST       = localhost
POSTGRES_PORT       = 5432
POSTGRES_USER       = postgres
POSTGRES_DBNAME     = XyChat
POSTGRES_PASSWORD   = pwd


# TOKEN SECRET
TOKEN_SECRET = S0m3th1ngS3cr37
